@media only screen and (max-width:760px) {
  div.phoneBox{
    display: none;
  }
  .mainBox {
    padding:20px;
    display: grid;
    grid-template-columns: 1fr 350px 1fr;
    grid-template-rows:  10px 33px 100px 70px 70px 60px 30px 40px 44px 10px 62.6px 36px 88px;
    grid-template-areas: 
    ". . ." 
    ". . . "
    ". logo . "
    ". username . "
    ". password ."
    ". login ."
    ". or ."
    ". fbook ."
    ". forgotpassword ."
    ". . ."
    ". signup ."
    ". getapp ." 
    ". getAppButtons .";
  }
}