@media only screen and (max-width:760px) {
  div.phoneBox{
    display: none;
  }
  .mainBox {
  padding:20px;
  display: grid;
  grid-template-columns: 1fr 350px 1fr;
  grid-template-rows:  10px 50fr 40px 40px 30fr 15fr 20fr 14fr 10px 18fr 18fr 44fr;
  grid-template-areas: 
  ". . ." 
  ". logo ."
  ". username ."
  ". password ."
  ". login ."
  ". or ."
  ". fbook ."
  ". forgotpassword ."
  ". . ."
  ". signup ."
  ". getapp ." 
  ". getAppButtons .";
  }
}