.loginBox__inputText {
  font-size: 14px;
  height: 36px;
  width: 258.8px;
  border: 1px solid rgba(219,219,219);
  border-radius: 1px;
  background-color: rgb(250,250,250);
  color: rgba(38,38,38);
  padding-left: 9px;
  padding-top: 10px;
  box-sizing: border-box;
}
.loginBox.loginBox__passwordField,   .loginBox.loginBox__usernameField{
  align-items: center;
  justify-content: flex-end;
}

.loginBox__passwordFieldContainer > * , .loginBox__usernameFieldContainer > * {
  position: relative;
}

.loginBox__passwordPlaceholder, .loginBox__usernamePlaceholder {
  top: 25px;
  left:10px;
  z-index: 1;
  font-size: 13px;
  height: 22px;
  user-select: none;
}

.loginBox__usernamePlaceholder, .loginBox__passwordPlaceholder {
  top:30px;
  left:10px;
  font-size:13px;
  height: 22px;
  align-self: flex-start;
  color: rgba(142,142,142);
}

.loginBox__passwordPlaceholder--active, .loginBox__usernamePlaceholder--active {
  transition: font-size .1s ease-in, top .1s ease-in;
  /* transform: scale(.83333) translateY(-6px); */
  top:20px;
  left:10px;
  font-size:9px;
  align-self: flex-start;
}

.loginBox__passwordPlaceholder--inactive, .loginBox__usernamePlaceholder--inactive {
  transition: font-size .1s ease-out, top .1s ease-out;
  top: 30px;
  left:10px;
  font-size: 13px;
  align-self: flex-start;
}

.loginBox__passwordFieldContainer, .loginBox__usernameFieldContainer {
  display:flex;
  align-items: flex-start;
  width: 258.8px;
}

/* ============THIS IS FOR THE BUTTONS============ */
div.loginBox__login_buttons {  
  display: flex;
  flex-direction: row;
}

.loginBox__button {
  height: 30px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  width: 127px;
  box-sizing: border-box;
  border: transparent;
  background-color: rgba(0, 149, 246, 1);
  padding: 10px 30px;
  margin: 0 4px;
  cursor: pointer;
  white-space: nowrap
}

.loginBox__button:hover {
  cursor: pointer;
}

.loginBox__button:hover:disabled {
  cursor: default;
}
  
.loginBox__button:disabled {
  background-color: rgba(0, 149, 246, 0.3);
}

