
.loginBox__inputText {
  font-size: 12px;
  height: 26px;
  color: rgb(38,38,38);
  width: 218.8px;
  border:none;
  background-color: transparent;
  position: relative;
  left:9px;
  top: -8px;
  outline-width: 0;
}

.loginBox__inputText--active {
  top: -1px;
}

.loginBox__passwordShowContainer {
  flex-direction: row;
  height: 19.55px;
}

.loginBox__passwordFieldContainer, .loginBox__usernameFieldContainer{ 
  position: relative;
  align-items: center;
  justify-content: flex-end;
  height: 36px;
  width: 258.8px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  background-color: rgb(250,250,250);
  color: rgba(38,38,38);
  box-sizing: border-box;
}
.loginBox__passwordFieldContainer:hover, .loginBox__usernameFieldContainer:hover, .loginBox__passwordPlaceholder:hover, .loginBox__usernamePlaceholder:hover{
  cursor: text;
}

.loginBox__passwordFieldContainer:hover, .loginBox__usernameFieldContainer:hover {
  border: 1px solid rgb(150, 150, 150)

}

/* .loginBox__passwordFieldContainer > * , .loginBox__usernameFieldContainer > * {
  position: relative;
  justify-content: flex-start;
  align-items: flex-start;
} */

.loginBox__passwordPlaceholder, .loginBox__usernamePlaceholder {
  color: rgba(142,142,142);
  position: relative;
  height: 22px;
  top: 8px;
  left:9px;
  font-size: 13px;
}
.loginBox__passwordPlaceholder--inactive, .loginBox__usernamePlaceholder--inactive {
  transition: font-size .1s ease-out, top .1s ease-out;
  top: 8px;
  left:9px;
  font-size: 13px;
}

.loginBox__passwordPlaceholder--active, .loginBox__usernamePlaceholder--active {
  transition: font-size .1s ease-in, top .1s ease-in;
  /* transform: scale(.83333) translateY(-6px); */
  top:0px;
  left:9px;
  font-size:9px;
}


.loginBox__passwordFieldContainer, .loginBox__usernameFieldContainer {
  display:flex;
  align-items: flex-start;
  width: 258.8px;
}

/* ============THIS IS FOR THE BUTTONS============ */
div.loginBox__loginButtons {  
  display: flex;
  flex-direction: row;
}

.loginBox__button {
  height: 30px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  width: 127px;
  box-sizing: border-box;
  border: transparent;
  background-color: rgba(0, 149, 246, 1);
  padding: 10px 30px;
  margin: 0 4px;
  cursor: pointer;
  white-space: nowrap;
  outline-width: 0;
}

.demo__button{ background-color: rgba(0, 149, 246, 0.3);}
.loginBox__button:hover { cursor: pointer;}
.login__button:hover:disabled { cursor: default;}
.login__button:disabled { background-color: rgba(0, 149, 246, 0.3);}
.demo__button:hover { background-color: rgba(0, 149, 246, 1);}
.loginBox__button a , .loginBox__button button {outline-width: 0;}
