.addLike{
  height: 20px;
}

.mainBoxHome { padding-top: 90px; padding-left: 50px;}

.mainFeed__postPhoto{
  width: 580px;
}

.mainFeed__profileUsernameContainer{
  display: flex;
  align-items: center;
}

.mainFeed__captionContainer{
  display: flex;
}

.individualPost{
  border: 1px solid rgba(219,219,219);
  border-radius: 2px;
  margin: 10px 0;
}

.addComment{
  border: none;
  width: 500px;
}

.mainFeed__profilePhotoContainer{
  border: 1px solid black;
  border-radius: 50%;
  width: 60px;
  height: 60px
}

.mainFeed__profilePhoto {
  border-radius: 50%;
  position: relative;
  overflow:visible;
  top: -20px;
  left: -17px;
  z-index: -1
}
