extends index
block content
  include navbar
  .changePasswordContainer
    .changePassword Change Password
    .editProfile Edit Profile
    form.changePasswordForm(action="post")
      .changePassword__oldPasswordContainer
        label(for="oldpassword") Old Password
        input.editProfileName(type="text")
      .changePassword__newPasswordContainer
        label(for="password") New Password
        input.editProfileName(type="text")
      .changePassword__confirmPasswordContainer
        label(for="confirmpassword") Confirm New Password
        input.editProfileName(type="text")
      button.changePasswordSubmit(type="submit") Submit
    script(src="/staticJs/change-password.js")

