extends index
block content
  include navbar
  .changePasswordContainer
    .changePassword Change Password
    .editProfile Edit Profile
    form.changePasswordForm(action="post")
      .changePassword__oldPasswordContainer
        label(for="oldpassword") Old Password
        input.changePassword__oldPasswordInput(type="text" name="oldpassword")
      .changePassword__newPasswordContainer
        label(for="password") New Password
        input.changePassword__newPasswordInput(type="text" name="newpassword")
      .changePassword__confirmPasswordContainer
        label(for="confirmpassword") Confirm New Password
        input.changePassword__confirmPasswordInput(type="text" name="confirmpassword")
      button.changePasswordSubmit(type="submit" disabled) Submit
    script(src="/staticJs/change-password.js")

