extends index
block content
  include navbar
    .editProfileFlex
      .editProfileContainer
        .profilePicContainer
          .editProfile__profilePic
            img#profilePic(src= "/" alt="profile pic")
          .editProfile__editUser
            div.editProfile__username
            .editProfile__changePic
              a(href='/accounts/edit') Change Profile Photo
        form.editProfileForm(method="post")
          .editProfile__nameContainer
            label.name(for="name") Name
            input.editProfileName(type="text" name="name")
          .editProfile__usernameContainer
            label.usernameLabel(for="username") Username
            input.editProfileUsername(type="text" name="username")
          .editProfile__bioContainer
            label.bio(for="bio") Bio
            textarea.editProfileBio(type="text" name="bio")
          .editProfile__emailContainer
            label.email(for="email") Email
            input.editProfileEmail(type="text" namee="email")
          .editProfile__ageContainer
            label.age(for="age") Age
            input.editProfileAge(type="text" namee="age")
          .editProfile__genderContainer
            label.gender(for="gender") Gender
            input.editProfileGender(type="text" name="gender")
          button.editProfileSubmit(type="submit") Submit
      script(src="/staticJs/edit-profile.js" type="module")
