extends index
block content
  include navbar
  .mainBoxHome
    .postsContainer
    .myProfile link to my profile its really long to  here
    .suggestionHeader suggested users
    .profile1 geoff the great
    .icon1 O
    .followStatus1 FOLLOW
    .profile2 ted the terrible
    .icon2 O
    .followStatus2 FOLLOW
    .profile3 devin the destroyer
    .icon3 O
    .followStatus3 FOLLOW
    .profile4 ang the arbiter 
    .icon4 O
    .followStatus4 FOLLOW
    .profile5 kejin the creator
    .icon5 O
    .followStatus5 FOLLOW
    include footer
    script(src="/staticJs/home.js")