extends index
block content
  include navbar
  .posts 
    p these are the posts
  .profileIcon pretty pic
  .username sweet name
  .followStatus UNFOLLOW
  .myProfile link to my profile
  .suggestionHeader suggested users
  .profile1 pak the great
  .profile2 ten the terrible
  .profile3 co the swisher
  .profile4 ra the css-er
  .profile5 ke the peeping tom
  include footer
  script(src="/staticJs/home.js")