extends index
block content
  .navBar.navBar_container
    .navBar.navBar__logo Pikagram
    .navBar.navBar__iconsContainer
      img.navBar.navBar__icons.navBar__homepage(src="/staticIcons/star.svg")
      img.navBar.navBar__icons.navBar__team(src="/staticIcons/smartphone.svg")
      img.navBar.navBar__icons.navBar__profile(src="/staticIcons/pikachu.svg")
