extends index
block content
  link(href="https://cdn.jsdelivr.net/gh/tretapey/raisincss@1.1.0/raisin.min.css" rel="stylesheet")
  .navBar.navBar_container
    .navBar.navBar__logo Pikagram
    .navBar.navBar__iconsContainer
      img.navBar.navBar__icons.navBar__addPost(src="/staticIcons/jigglypuff.svg")
      img.navBar.navBar__icons.navBar__homepage(src="/staticIcons/star.svg")
      img.navBar.navBar__icons.navBar__team(src="/staticIcons/smartphone.svg")
      img.navBar.navBar__icons.navBar__profile(src="/staticIcons/pikachu.svg")
  .addPostContainer.addPostContainer--hidden
    h1 Add Post
    form.addPicForm(action="/image" method="post") 
      label(for ="picture") Upload Picture
      input.file(type="file")
      label(for="caption") Caption
      input.caption(type="text")
      button.formSubmit(type="submit") Add Post 


  script(src="/staticJs/navbar.js")
