extends index
block content
  include navbar
  .bodyContainer
    .profileContainerDiv
      .outerPictureContainer
        .pictureContainer
          img.profileContainer.profilePic(src="/" alt="profile pic")
      .usernameContainer
        .profileContainer.username
        .profileContainer__button
          button.editProfile Edit Profile
      .profileContainer
        .fullName
          .profileId= profileId
        .bio
      .statsContainer
        .profileContainer.numPostsContainer
          .profileContainer.numPosts
          .profileContainer posts
        .profileContainer.numFollowersContainer
          .profileContainer.numFollowers
          .profileContainer Followers
        .profileContainer.numFollowingContainer
          .profileContainer.numFollowing
          .profileContainer following
      .postsContainer posts
  script(src="staticJs/profile.js" type="module")
