.footer {
  position: absolute;
  /* border: 5px solid red; */
  bottom: 5px;
  display: flex;
  flex-direction: row;
 width:100%;
 justify-content: center;

}

.footer__links li{
  padding: 0 10px;
}

