
.mainBox {
  padding:20px;
  display: grid;
  grid-template-columns: 36px  9fr 7fr;
  grid-template-rows:  10px 50fr 38fr 19fr 1fr 30fr 15fr 20fr 14fr 18fr 18fr 44fr;
  grid-template-areas: 
  ". . ." 
  ". phone logo"
  ". phone username"
  ". phone password" 
  ". phone password" 
  ". phone login" 
  ". phone or" 
  ". phone fbook" 
  ". phone forgotpassword" 
  ". phone signup" 
  ". phone getapp" 
  ". phone getAppButtons";
}

.phoneBox {
grid-area: phone;
display: flex;
justify-content: flex-end;
}

.loginBox__logo {
grid-area: logo;
}
.loginBox__username {
grid-area: username;
}
.passwordPlaceholder{
grid-area: password;
position: relative;
}
.loginBox__login_buttons {
  grid-area: login;
}
.loginBox__passwordInput {
  grid-area: password;
  position: relative;
}
.loginBox__or {
grid-area: or;
}
.loginBox__fbook {
grid-area: fbook;
}
.loginBox__signUp {
grid-area: signup;
}
.loginBox__forgotPassword {
grid-area: forgotpassword;
}
.loginBox__getApp {
grid-area: getapp;
}
.loginBox__getAppButtons {
grid-area: getAppButtons;
}
