.signupBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}
input { outline: 0px;}

/* ============THIS IS FOR THE LOGO TEXT============ */
.signupBox.signupBox__logo  p {
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  font-family: "pikaFont";
  color:rgba(7, 7, 7, .75);
  text-shadow: 0 0 1.6px rgba(100, 100, 100, 5);
  font-size: 53px;
  padding-top: 18px;
  font-weight: 500;
}
.signupBox__signupText  p{
color: rgba(142,142,142,1);
font-size: 17px;
font-weight: 600;
line-height: 20px;
margin: 0 40px 10px;
text-align: center;
}
/* ============THIS IS FOR THE INPUT FIELDS============ */
.signupBox__inputText {
  font-size: 12px;
  height: 26px;
  color: rgb(38,38,38);
  width: 218.8px;
  border:none;
  background-color: transparent;
  position: relative;
  left:9px;
  top: -8px;
  outline-width: 0;
}

.signupBox__inputText--active {
  top: -1px;
}

.signupBox__passwordShowContainer {
  flex-direction: row;
  height: 19.55px;
}

.signupBox__fieldContainer{ 
  position: relative;
  justify-content: flex-end;
  height: 36px;
  width: 258.8px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  background-color: rgb(250,250,250);
  color: rgba(38,38,38);
  box-sizing: border-box;
  display:flex;
  align-items: flex-start;
  width: 258.8px;
}

.signupBox__fieldContainer:hover {
  border: 1px solid rgb(150, 150, 150);
  cursor: text;
}

.signupBox__floatingLabel {
  color: rgba(142,142,142);
  position: relative;
  height: 22px;
  top: 8px;
  left:9px;
  font-size: 13px;
  align-self: flex-start
}
.signupBox__placeholder--inactive {
  transition: font-size .1s ease-out, top .1s ease-out;
  top: 8px;
  left:9px;
  font-size: 13px;
}

.signupBox__placeholder--active {
  transition: font-size .1s ease-in, top .1s ease-in;
  top:0px;
  left:9px;
  font-size:9px;
}

.signupBox__statusImage {
  visibility: hidden;
  position: absolute;
  left: 224px;
  width: 22px;
  height: auto;
  top: 7px;
  z-index: 6;
}


.inuse {visibility: visible; filter: contrast(10%) sepia(100%) saturate(10000%) hue-rotate(0deg);}
.available  {visibility: visible;filter: contrast(10%) sepia(20%) saturate(2000%) hue-rotate(60deg);}
.tooshort  {visibility: visible;filter: contrast(10%) sepia(20%) saturate(10%) hue-rotate(60deg);}

.signupBox__statusImageTextLabel {
  visibility: hidden;
  position: absolute;
  left: 210px;
  font-size: 8px;
  top: 27px;
  font-weight: 700;
  width:50px;
  text-align: center;
}



/* ============THIS IS FOR THE BUTTONS============ */
div.signupBox__signupButtons {  
  display: flex;
  flex-direction: row;
}

.signupBox__button {
  height: 30px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  width: 260px;
  box-sizing: border-box;
  border: transparent;
  background-color: rgba(0, 149, 246, 1);
  padding: 10px 30px;
  margin: 0 4px;
  cursor: pointer;
  white-space: nowrap;
  outline-width: 0;
}

.signupBox__button:hover { cursor: pointer;}
.signupBox__button:hover:disabled { cursor: default;}
.signupBox__button:disabled { background-color: rgba(0, 149, 246, 0.3);}
.signupBox__button a , .signupBox__button button {outline-width: 0;}

.signupBox__passwordShowContainer {
  flex-direction: row;
  height: 19.55px;
}
.signupShowBtn{
  right: 46px;
  top: -8px;
  height: 26px;
  border: none;
  background-color: rgb(250,250,250);
  width: 32px;
  height: 18px;
  font-weight: 600;
  font-size: 14px;
  position: relative;
  outline-width: 0;
}

.signupShowBtn {cursor: pointer;}

.signupShowBtn--hidden{
  box-sizing: border-box;
  color: red;
  z-index: -1;
  visibility: hidden;
}

/* ============THIS IS FOR THE OR TEXT============ */
.signupBox__orContainer{
  display:flex;
  flex-direction: row;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  color:#8e8e8e
}
.signupBox__orSpacer {
  height: .8px;
  width: 107.233px;
  line-height: 18px;
  box-sizing: border-box;
  background-color:  rgba(219,219,219);
}
.signupBox__or {
  margin: 0 18px;
  font-size: 13px;
  font-weight: 600;
}

/* ============THIS IS FOR THE Error Message TEXT============ */
.signupBox__errorText {
  color: rgba(237,73,86,1);
  font-size: 14;
  text-align: center;
}

/* ============THIS IS FOR THE FB TEXT============ */
.signupBox__fbook > img {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}
.signupBox__fbook {
  display:flex;
  flex-direction: row;
  font-size: 14px;
  color: #385185;
  font-weight: 600;
  line-height: 18px;
  text-overflow: ellipse;
}

/* ============THIS IS FOR THE FORGOT PASSWORD TEXT============ */
.signupBox__forgotPassword {
  color: rgb(0,55,107);
  font-size: 12px;
  line-height: 14px;
  padding-top: 12px;
  text-align: center;
  justify-content: flex-start;
}
.signupBox__forgotPassword a {outline-width: 0;}

/* ============THIS IS FOR THE SIGN UP TEXT============ */
.signupBox__login > p { 
  color: rgb(38,38,38);
  font-size: 14px;
  text-align: center;
  font-weight: 300;
  margin: 5px;
}

.signupBox__login  {
  display: flex;
  flex-direction: row;
}

.signupBox__login > a {
  color: rgb(0,149,246);
  font-weight: 600;
  text-align: center;
  font-size:14px;
  outline-width: 0;
}
/* ============THIS IS FOR THE APP/STORE TEXT============ */

p.signupBox.signupBox__termsText {
    color: rgba( 142,142,142 ,1);
    font-size: 12px;
    line-height: 16px;
    margin: 10px 40px;
    text-align: center;
}

/* ============THIS IS FOR THE APP/STORE TEXT============ */
.signupBox__getAppButtons{
  display: flex;
  flex-direction: row;
}
.signupBox__appStore {
  width:135px;
  height:auto;
}
.signupBox__googlePlay { width:135px; height:auto;}
.signupBox__getApp > p {  font-size: 14px;}
.signupBox__getAppButtons img { padding:4px}
