.signinBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
}

/* ============THIS IS FOR THE LOGO TEXT============ */
.signinBox.signinBox__logo  p {
  display: flex;
  justify-content: center;
  letter-spacing: 1px;
  font-family: "pikaFont";
  color:rgba(7, 7, 7, .75);
  text-shadow: 0 0 1.6px rgba(100, 100, 100, 5);
  font-size: 53px;
  padding-top: 18px;
  font-weight: 500;
}
.signinBox__signupText  p{
color: rgba(142,142,142,1);
font-size: 17px;
font-weight: 600;
line-height: 20px;
margin: 0 40px 10px;
text-align: center;
}
/* ============THIS IS FOR THE INPUT FIELDS============ */
.signinBox__inputText {
  font-size: 12px;
  height: 26px;
  color: rgb(38,38,38);
  width: 218.8px;
  border:none;
  background-color: transparent;
  position: relative;
  left:9px;
  top: -8px;
  outline-width: 0;
}

.signinBox__inputText--active {
  top: -1px;
}

.signinBox__passwordShowContainer {
  flex-direction: row;
  height: 19.55px;
}

.signinBox__passwordFieldContainer, .signinBox__usernameFieldContainer,.signinBox__emailFieldContainer,.signinBox__fullnameFieldContainer { 
  position: relative;
  align-items: center;
  justify-content: flex-end;
  height: 36px;
  width: 258.8px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  background-color: rgb(250,250,250);
  color: rgba(38,38,38);
  box-sizing: border-box;
}
.signinBox__passwordFieldContainer:hover, .signinBox__usernameFieldContainer:hover, .signinBox__passwordPlaceholder:hover, .signinBox__usernamePlaceholder:hover,
.signinBox__emailFieldContainer:hover, .signinBox__emailFieldContainer:hover, .signinBox__fullnamePlaceholder:hover, .signinBox__fullnamePlaceholder:hover{
  cursor: text;
}

.signinBox__passwordFieldContainer:hover, .signinBox__usernameFieldContainer:hover,
.signinBox__emailFieldContainer:hover, .signinBox__fullnameFieldContainer:hover {
  border: 1px solid rgb(150, 150, 150)

}

.signinBox__passwordPlaceholder, .signinBox__usernamePlaceholder,
.signinBox__emailPlaceholder, .signinBox__fullnamePlaceholder  {
  color: rgba(142,142,142);
  position: relative;
  height: 22px;
  top: 8px;
  left:9px;
  font-size: 13px;
  align-self: flex-start
}
.signinBox__passwordPlaceholder--inactive, .signinBox__usernamePlaceholder--inactive,
.signinBox__emailPlaceholder--inactive, .signinBox__fullnamePlaceholder--inactive {
  transition: font-size .1s ease-out, top .1s ease-out;
  top: 8px;
  left:9px;
  font-size: 13px;
}

.signinBox__passwordPlaceholder--active, .signinBox__usernamePlaceholder--active
.signinBox__emailPlaceholder--active, .signinBox__fullnamePlaceholder--active {
  transition: font-size .1s ease-in, top .1s ease-in;
  top:0px;
  left:9px;
  font-size:9px;
}

.signinBox__passwordFieldContainer, .signinBox__usernameFieldContainer,
.signinBox__emailFieldContainer, .signinBox__fullnameFieldContainer {
  display:flex;
  align-items: flex-start;
  width: 258.8px;
}

.signinBox__statusImage {
  visibility: hidden;
  position: absolute;
  left: 224px;
  width: 22px;
  height: auto;
  top: 7px;
  z-index: 6;
}


.inuse {visibility: visible; filter: contrast(10%) sepia(100%) saturate(10000%) hue-rotate(0deg);}
.available  {visibility: visible;filter: contrast(10%) sepia(20%) saturate(2000%) hue-rotate(60deg);}
.tooshort  {visibility: visible;filter: contrast(10%) sepia(20%) saturate(10%) hue-rotate(60deg);}

.signinBox__statusImageTextLabel {
  visibility: hidden;
  position: absolute;
  left: 210px;
  font-size: 8px;
  top: 27px;
  font-weight: 700;
  width:50px;
  text-align: center;
}



/* ============THIS IS FOR THE BUTTONS============ */
div.signinBox__signinButtons {  
  display: flex;
  flex-direction: row;
}

.signinBox__button {
  height: 30px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  width: 127px;
  box-sizing: border-box;
  border: transparent;
  background-color: rgba(0, 149, 246, 1);
  padding: 10px 30px;
  margin: 0 4px;
  cursor: pointer;
  white-space: nowrap;
  outline-width: 0;
}

.signinBox__button:hover { cursor: pointer;}
.signinBox__button:hover:disabled { cursor: default;}
.signinBox__button:disabled { background-color: rgba(0, 149, 246, 0.3);}
.signinBox__button a , .signinBox__button button {outline-width: 0;}

/* ============THIS IS FOR THE OR TEXT============ */
.signinBox__orContainer{
  display:flex;
  flex-direction: row;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  color:#8e8e8e
}
.signinBox__orSpacer {
  height: .8px;
  width: 107.233px;
  line-height: 18px;
  box-sizing: border-box;
  background-color:  rgba(219,219,219);
}
.signinBox__or {
  margin: 0 18px;
  font-size: 13px;
  font-weight: 600;
}

/* ============THIS IS FOR THE Error Message TEXT============ */
.signinBox__errorText {
  color: rgba(237,73,86,1);
  font-size: 14;
  text-align: center;
}

/* ============THIS IS FOR THE FB TEXT============ */
.signinBox__fbook > img {
  height: 16px;
  width: 16px;
  margin-right: 8px;
}
.signinBox__fbook {
  display:flex;
  flex-direction: row;
  font-size: 14px;
  color: #385185;
  font-weight: 600;
  line-height: 18px;
  text-overflow: ellipse;
}

/* ============THIS IS FOR THE FORGOT PASSWORD TEXT============ */
.signinBox__forgotPassword {
  color: rgb(0,55,107);
  font-size: 12px;
  line-height: 14px;
  padding-top: 12px;
  text-align: center;
  justify-content: flex-start;
}
.signinBox__forgotPassword a {outline-width: 0;}

/* ============THIS IS FOR THE SIGN UP TEXT============ */
.signinBox__signUp > p{ 
  color: rgb(38,38,38);
  font-size: 14px;
  text-align: center;
  font-weight: 300;
  margin: 5px;
}

.signinBox__signUp  {
  display: flex;
  flex-direction: row;
}

.signinBox__signUp > a {
  color: rgb(0,149,246);
  font-weight: 600;
  text-align: center;
  font-size:14px;
  outline-width: 0;
}


/* ============THIS IS FOR THE APP/STORE TEXT============ */
.signinBox__getAppButtons{
  display: flex;
  flex-direction: row;
}
.signinBox__appStore {
  width:135px;
  height:auto;
}
.signinBox__googlePlay { width:135px; height:auto;}
.signinBox__getApp > p {  font-size: 14px;}
