body, button{
  background-color: rgba(250,250,250);
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
a { outline-width: 0;}

.mainBoxSignup {
  padding:20px;
  display: grid;
  grid-template-columns: 1fr 350px 1fr;
  grid-template-rows:  10px 55px 90px 42px 42px 42px 42px 45px 40px 10px 20px 30px 44px;
  grid-template-areas: 
  ".  . ." 
  ". logo . "
  ". signupText . "
  ". email ."
  ". fullname ."
  ". username ."
  ". password ."
  ". signup ."
  ". terms ."
  ". . ."
  ". login ."
  ". getapp ." 
  ". getAppButtons .";
}

.signinBox__logo {grid-area: logo; z-index: 2;}
.signinBox__signupText {grid-area: signupText }
.signinBox__emailField {grid-area: email; position: relative;}
.signinBox__fullnameField {grid-area: fullname; position: relative;}
.signinBox__usernameField {grid-area: username; position: relative;}
.signinBox__passwordField {grid-area: password}
.signinBox__signinButtons  {grid-area: signup}
.signinBox__termsOfCondition {grid-area: terms}
.signinBox__signin  {grid-area: login}
.signinBox__getApp {grid-area: getapp}
.signinBox__getAppButtons {grid-area: getAppButtons }



.signinBox__logo,.signinBox__signupText,.signinBox__emailField,.signinBox__fullnameField,.signinBox__usernameField,.signinBox__passwordField,.signinBox__signinButtons,.signinBox__termsOfCondition,.signinBox__signin,.signinBox__getApp,.signinBox__getAppButtons{

  border-right: 1px solid rgba(219,219,219);
  border-left: 1px solid rgba(219,219,219);
  background-color: rgba(255,255,255);

}

.signinBox__logo,  .signinBox__signUp{
  border-top: 1px solid rgba(219,219,219);
  border-radius: 1px;
}

.signinBox__forgotPassword, .signinBox__signUp{
  border-bottom: 1px solid rgba(219,219,219);
  border-radius: 1px;
}